---
apiVersion: v1
kind: Secret
metadata:
    name: upcloud
    namespace: kube-system
stringData:
{% if upcloud_token is defined and upcloud_token %}
    token: {{ upcloud_token }}
{% else %}
    username: {{ upcloud_username }}
    password: {{ upcloud_password }}
{% endif %}
